.button {
  border: 1px solid $primaryColor;
  border-radius: 8px;
  width: 148px;
  height: 42px;
  background-color: transparent;
  cursor: pointer;
  min-width: 30px;
  color: $primaryColor;
  text-transform: uppercase;
}

.btn_modal {
  border: 1px solid $textColor;
  color: $textColor;
  margin-right: 15px;
  &:last-child {
    margin-right: 0;
  }
  &:hover,
  &:focus,
  &:active {
    border: 1px solid $accentColor;
    background-color: $accentColor;
    color: $primaryColor;
  }
}

.btn_modal_auth {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 14px;
  border: 1px solid $textColor;
  color: $textColor;
  margin-bottom: 24px;
  &:last-child {
    margin-right: 0;
  }
  &:hover,
  &:focus,
  &:active {
    border: 1px solid $accentColor;
    background-color: $accentColor;
    color: $primaryColor;
  }
}

.btn_header {
  &:hover,
  &:focus,
  &:active {
    border: 1px solid $accentColor;
    background-color: $accentColor;
    color: $primaryColor;
  }
}

.active_btn {
  border: 1px solid $accentColor;
  background-color: $accentColor;
  color: $primaryColor;
}
