.button {
  border: 1px solid white;
  border-radius: 8px;
  width: 148px;
  height: 42px;
  background-color: transparent;
  cursor: pointer;
  min-width: 30px;
  color: white;
  text-transform: uppercase;
}

.btn_modal {
  border: 1px solid black;
  color: black;
  margin-right: 15px;
  &:last-child {
    margin-right: 0;
  }
  &:hover,
  &:focus,
  &:active {
    border: 1px solid #ff6b01;
    background-color: #ff6b01;
    color: white;
  }
}

.btn_modal_auth {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 14px;
  border: 1px solid black;
  color: black;
  margin-bottom: 24px;
  &:last-child {
    margin-right: 0;
  }
  &:hover,
  &:focus,
  &:active {
    border: 1px solid #ff6b01;
    background-color: #ff6b01;
    color: white;
  }
}

.btn_header {
  &:hover,
  &:focus,
  &:active {
    border: 1px solid #ff6b01;
    background-color: #ff6b01;
    color: white;
  }
}

.active_btn {
  border: 1px solid #ff6b01;
  background-color: #ff6b01;
  color: white;
}
