.form {
  width: 100%;
  display: flex;
  justify-content: center;
}

#search-input {
  height: 30px;
  width: 394px;
  background-color: transparent;
  border: transparent;
  border-bottom: solid 1px $primaryColor;
  color: $primaryColor;
  font-size: 18px;

  &:focus {
    background-color: transparent;
    outline: 0;
    color: $primaryColor;
  }

  &::placeholder {
    opacity: 1;
  }
}

.form-auth {
  display: flex;
  flex-direction: column;
  font-size: 14px;
  align-items: center;
  max-width: 100%;

  @media (min-width: $widthMobile) {
    width: 240px;
  }

  @media (min-width: $widthTablet) {
    width: 320px;
  }
}

.form-auth input {
  height: 42px;
  margin-bottom: 24px;
  border-radius: 4px;
  border: solid 1px grey;
  opacity: 0.7;
  &:hover,
  &:active,
  &:focus {
    border: solid 2px $accentColor;
    outline: none;
  }
  width: 100%;

  @media (min-width: $widthMobile) {
    width: 240px;
  }

  @media (min-width: $widthTablet) {
    width: 320px;
  }
}

#register-link,
#login_link {
  &:hover {
    color: $accentColor;
  }
}

.register_nav {
  display: flex;
  align-items: baseline;
  gap: 16px;
}

// .search-button {
//   border: transparent;
//   border-bottom: 1px solid $primaryColor;
//   background-color: transparent;
//   cursor: pointer;
//   width: 30px;
//   height: 30px;
//   // color: $primaryColor;
// }

// .delete {
//   border-bottom: none;
//   position: absolute;
//   top: 50%;
//   left: 50%;
//   transform: translate(-50%, -50%);
//   -ms-transform: translate(-50%, -50%);
// }
