.gallery {
  width: 100%;
  display: flex;
  flex-direction: column;

  align-items: center;
  gap: 16px;

  // display: grid;
  // grid-template-columns: repeat(auto-fit, minmax($width-min-allowable, 1fr));
  // grid-template-rows: auto;

  // grid-gap: 18px;

  @media screen and (min-width: $widthTablet) {
    flex-direction: row;
    flex-wrap: wrap;
    gap: 32px 16px;
    align-items: flex-start;
    justify-content: center;
    // grid-template-columns: repeat(auto-fit, minmax(336px, 1fr));
    // grid-gap: 16px;
  }
  @media screen and (min-width: $widthDesktop) {
    // grid-template-columns: repeat(auto-fit, minmax(395px, 1fr));
    // grid-gap: 16px;
  }
}

// ____________gallery card_________________

.gallery_card {
  // display: flex;
  // justify-content: center;

  // // align-self: center;

  @media screen and (min-width: $widthTablet) {
    // max-width: 336px;
    // align-self: center;
  }
  // @media screen and (max-width: $widthDesktop) {
  //   // max-width: 395px;
  //   // align-self: center;
  // }
}

.gallery_link {
  transition: transform 400ms easy-out;
  &:hover {
    transform: scale(1.03);
  }
}

.movie_img {
  width: 100%;
  box-shadow: $shadow;
  border-radius: 10px;
  max-width: 280px;

  @media screen and (min-width: $widthTablet) {
    max-width: 335px;
  }
  @media screen and (min-width: ($widthDesktop)) {
    width: 100%;
    max-width: 394px;
  }
}

.movie_title.card {
  font-size: 16px;
  line-height: 20px;
  max-width: 280px;
  @media screen and (min-width: $widthTablet) {
    font-size: 20px;
    line-height: 24px;
  }
}

.movie_describtion {
  display: flex;
  font-size: 16px;
  line-height: 20px;
  color: $accentColor;
  align-items: baseline;
  @media screen and (min-width: $widthTablet) {
    font-size: 20px;
    line-height: 24px;
  }
}

.movie_genresList {
  position: relative;
  display: flex;
  margin-right: 16px;

  &::after {
    content: '';

    position: absolute;
    display: block;
    top: 0;
    left: calc(100% + 8px);

    height: 100%;
    width: 2px;
    background-color: $accentColor;
  }
}

.movie_average {
  font-size: 18px;
  margin-left: 8px;
  background-color: $accentColor;
  padding: 2px 8px;
  color: #fff;
  border-radius: 4px;
}
