.modal {
  position: fixed;
  width: 100%;
  height: 100vh;
  background-color: transparent;
  top: 0;
  left: 0;
  opacity: 0;
  visibility: hidden;
  overflow-y: auto;
  overflow-x: hidden;
  transition: all cubic-bezier(0.86, 0, 0.07, 1);
}

.open {
  opacity: 1;
  visibility: visible;
}

.modal_body {
  // position: relative;
  min-height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 30px 10px;
}

.modal_content {
  position: relative;
  height: 558px;
  max-width: 806px;
  border-radius: 8px;
  background-color: #fff;
  padding: 40px 12px;
}

.modal_close {
  position: absolute;
  padding: 18px;
  right: 0;
  top: 0;
}

.modal_data {
  display: flex;
}

.movie_card {
  display: flex;
  flex-direction: row;
}

.movie_inform {
  margin-bottom: 20px;
  // background-color: yellow;
  width: 100%;
  height: 120px;
}

// .movie_info {
// }

// .movie_descr {
// }

.movie_title {
  size: 30px;
  font-weight: 700;
  line-height: auto;
  text-transform: uppercase;
  margin-bottom: 20px;
}

.image {
  width: 375px;
  height: 478px;
  object-fit: cover;
  margin-right: 16px;
}

.list_category {
  // line-height: auto;
  color: #8c8c8c;
  width: 35%;
  // background-color: aqua;
  // vertical-align: middle;
}

// .list_data {
//   // line-height: auto;
//   // background-color: red;
//   // vertical-align: middle;
// }

.genres {
  display: flex;
}

.movie_about {
  line-height: 20px;
  margin-bottom: 20px;
}

.movie_genres {
  margin-right: 6px;
}
.movie_genres:last-child {
  margin-right: 0;
}
