@import '~node_modules/modern-normalize/modern-normalize.css';
*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 12px;
  letter-spacing: 0.03em;
}

body.lock {
  overflow: hidden;
}

a {
  text-decoration: none;
  color: inherit;
}

h1,
h2,
h3,
p {
  margin: 0;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

img {
  display: block;
}

.not-visible {
  position: fixed;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.visible {
  visibility: visible;
  opacity: 1;
  pointer-events: inherit;
}

.section {
  margin-bottom: 40px;
}
@media screen and (min-width: 768px) {
  .section {
    margin-bottom: 60px;
  }
}

.container {
  padding: 0 20px;
}
@media screen and (min-width: 768px) {
  .container {
    padding: 0 32px;
  }
}

.header {
  background-image: url("../images/abstract-background-with-red-lines_mob_1x.jpg");
  background-position: center;
  background-size: cover;
  padding: 40px 0 92px;
}
@media (min-device-pixel-ratio: 2), (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .header {
    background-image: url("../images/abstract-background-with-red-lines_mob_2x.jpg");
  }
}
@media screen and (min-width: 768px) {
  .header {
    background-image: url("../images/abstract-background-with-red-lines_tab_1x.jpg");
    padding: 40px 0 82px;
  }
}
@media screen and (min-width: 768px) and (min-device-pixel-ratio: 2), screen and (min-width: 768px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 768px) and (min-resolution: 192dpi), screen and (min-width: 768px) and (min-resolution: 2dppx) {
  .header {
    background-image: url("../images/abstract-background-with-red-lines_tab_2x.jpg");
  }
}

.nav_wrapper {
  display: flex;
}

.logo {
  display: flex;
  color: #fff;
  font-weight: 600;
  font-size: 18px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.logo-name {
  display: none;
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
}
@media screen and (min-width: 768px) {
  .logo-name {
    display: block;
    visibility: visible;
    opacity: 1;
  }
}

.navigation {
  margin-left: auto;
}
@media (max-width: 768px) {
  .navigation {
    margin-bottom: 20px;
  }
}

.nav_list {
  display: flex;
  justify-content: end;
  gap: 30px;
}
@media (max-width: 768px) {
  .nav_list {
    gap: 20px;
  }
}

.nav_item {
  color: #fff;
  font-weight: 600;
  font-size: 18px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}
@media (max-width: 768px) {
  .nav_item {
    display: none;
  }
}

.nav_item--current::after {
  content: "";
  color: #ff001b;
  right: 0;
  bottom: -1px;
  display: block;
  width: 100%;
  height: 4px;
  background-color: currentColor;
  opacity: 1;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.icon {
  display: inline-block;
  width: 1em;
  height: 1em;
  stroke-width: 0;
  stroke: currentColor;
  fill: currentColor;
}

svg:not(:root) {
  overflow: visible;
}

@media (min-width: 768px) {
  #open_burger_btn {
    display: none;
  }
}

@media (min-width: 768px) {
  #auth_btn {
    margin-top: 12px;
  }
}

.nav_list_button {
  display: flex;
  justify-content: center;
  gap: 12px;
}

.menu-container {
  background-image: url("../images/abstract-background-with-red-lines_mob_1x.jpg");
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  margin: 0 auto;
  z-index: 999;
  transform: translateX(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.menu-container.open {
  transform: translateX(0);
}

.menu-container .menu-toggle {
  position: absolute;
  top: 10px;
  right: 15px;
  z-index: 1;
}

.menu-toggle {
  min-height: 20px;
  min-width: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: auto;
  padding: 0;
  background-color: transparent;
  color: #fff;
  cursor: pointer;
  border: none;
  border-radius: 50%;
  outline: none;
}

@media (min-width: 767px) {
  .menu-toggle {
    display: none;
  }
}
.menu-toggle:hover .icon-menu,
.menu-toggle:focus .icon-menu {
  fill: red;
}

.menu-toggle:hover .button-icon-close,
.menu-toggle:focus .button-icon-close {
  fill: red;
}

.menu-frame {
  position: absolute;
  width: calc(100% - 40px);
  height: 100%;
  padding: 48px 40px;
}

.button {
  border: 1px solid #fff;
  border-radius: 8px;
  width: 148px;
  height: 42px;
  background-color: transparent;
  cursor: pointer;
  min-width: 30px;
  color: #fff;
  text-transform: uppercase;
}

.btn_modal {
  border: 1px solid black;
  color: black;
  margin-right: 15px;
}
.btn_modal:last-child {
  margin-right: 0;
}
.btn_modal:hover, .btn_modal:focus, .btn_modal:active {
  border: 1px solid #ff6b01;
  background-color: #ff6b01;
  color: #fff;
}

.btn_modal_auth {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 14px;
  border: 1px solid black;
  color: black;
  margin-bottom: 24px;
}
.btn_modal_auth:last-child {
  margin-right: 0;
}
.btn_modal_auth:hover, .btn_modal_auth:focus, .btn_modal_auth:active {
  border: 1px solid #ff6b01;
  background-color: #ff6b01;
  color: #fff;
}

.btn_header:hover, .btn_header:focus, .btn_header:active {
  border: 1px solid #ff6b01;
  background-color: #ff6b01;
  color: #fff;
}

.active_btn {
  border: 1px solid #ff6b01;
  background-color: #ff6b01;
  color: #fff;
}

.footer {
  background-color: #f7f7f7;
}

.footer-content {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 12px;
  height: 77px;
}

.gallery {
  display: grid;
  grid-gap: 18px;
  justify-content: center;
}
@media screen and (min-width: 768px) {
  .gallery {
    grid-template-columns: repeat(auto-fit, minmax(360px, 1fr));
    grid-template-rows: auto;
    grid-gap: 16px;
  }
}

.gallery_card {
  display: flex;
  justify-content: center;
}

.gallery_link {
  transition: transform 400ms easy-out;
}
.gallery_link:hover {
  transform: scale(1.03);
}

.movie_img {
  max-width: 100%;
  max-height: 574px;
  box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.2), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 2px 1px -1px rgba(0, 0, 0, 0.12);
  border-radius: 10px;
}

.movie_title.card {
  font-size: 16px;
  line-height: 20px;
  max-width: 280px;
}
@media screen and (min-width: 768px) {
  .movie_title.card {
    font-size: 20px;
    line-height: 24px;
  }
}

.movie_describtion {
  display: flex;
  font-size: 16px;
  line-height: 20px;
  color: #ff6b01;
  align-items: baseline;
}
@media screen and (min-width: 768px) {
  .movie_describtion {
    font-size: 20px;
    line-height: 24px;
  }
}

.movie_genresList {
  position: relative;
  display: flex;
  margin-right: 16px;
}
.movie_genresList::after {
  content: "";
  position: absolute;
  display: block;
  top: 0;
  left: calc(100% + 8px);
  height: 100%;
  width: 2px;
  background-color: #ff6b01;
}

.movie_average {
  font-size: 18px;
  margin-left: 8px;
  background-color: #ff6b01;
  padding: 2px 8px;
  color: #fff;
  border-radius: 4px;
}

.load-more {
  display: block;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.5;
  letter-spacing: 0.06em;
  text-align: center;
  cursor: pointer;
  font-family: inherit;
  border-radius: 4px;
  padding: 0;
  border: none;
  border-color: transparent;
  margin-left: auto;
  margin-right: auto;
  padding: 10px 32px;
  width: 160px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.load-more:hover, .load-more:focus {
  background-color: #ff6b01;
  color: #fff;
}
.load-more:active {
  background-color: #ff6b01;
  color: #fff;
}

.modal,
.modal_auth {
  position: fixed;
  width: 100%;
  height: 100vh;
  background-color: transparent;
  top: 0;
  left: 0;
  opacity: 0;
  visibility: hidden;
  overflow-y: auto;
  overflow-x: hidden;
  transition: all cubic-bezier(0.86, 0, 0.07, 1);
}

.modal.open {
  opacity: 1;
  visibility: visible;
}

.hidden {
  opacity: 0;
  visibility: hidden;
}

.modal_body {
  min-height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 30px 10px;
}

.modal_content {
  position: relative;
  max-width: 806px;
  border-radius: 8px;
  background-color: #fff;
  padding: 40px 12px;
}

.modal_close {
  position: absolute;
  padding: 18px;
  right: 0;
  top: 0;
}

.modal_data {
  display: flex;
}

.movie_image {
  display: flex;
  flex-direction: row;
}

.movie_inform {
  margin-bottom: 20px;
  width: 100%;
  height: 120px;
}

.movie_title {
  font-size: 30px;
  font-weight: 700;
  line-height: auto;
  text-transform: uppercase;
  margin-bottom: 20px;
}

.card {
  font-size: 20px;
  line-height: 1.2;
  margin-bottom: 8px;
  margin-top: 8px;
}

.image {
  width: 375px;
  height: 478px;
  -o-object-fit: cover;
     object-fit: cover;
  margin-right: 16px;
}

.list_category {
  color: #8c8c8c;
  width: 35%;
}

.list_data {
  vertical-align: middle;
}

.genres {
  display: flex;
  align-items: center;
}

.movie_about {
  line-height: 20px;
  margin-bottom: 20px;
}

.about {
  font-size: 12px;
  font-weight: 500;
  line-height: auto;
  margin-bottom: 8px;
}

.average {
  background-color: #ff6b01;
  padding: 4px 10px;
  color: #fff;
  border-radius: 4px;
}

.count {
  background-color: #f7f7f7;
  padding: 4px 10px;
  border-radius: 4px;
}

.form {
  width: 100%;
  display: flex;
  justify-content: center;
}

#search-input {
  height: 30px;
  width: 394px;
  background-color: transparent;
  border: transparent;
  border-bottom: solid 1px #fff;
  color: #fff;
  font-size: 18px;
}
#search-input:focus {
  background-color: transparent;
  outline: 0;
  color: #fff;
}
#search-input::-moz-placeholder {
  opacity: 1;
}
#search-input:-ms-input-placeholder {
  opacity: 1;
}
#search-input::placeholder {
  opacity: 1;
}

.search-button {
  border: transparent;
  border-bottom: 1px solid white;
  background-color: transparent;
  cursor: pointer;
  width: 30px;
  height: 30px;
  color: #fff;
}

.form_auth {
  display: flex;
  flex-direction: column;
  width: 100%;
  font-size: 14px;
  align-items: center;
}

.form_auth input {
  width: 340px;
  height: 42px;
  margin-bottom: 24px;
  border-radius: 4px;
  border: solid 1px grey;
  opacity: 0.7;
}
.form_auth input:hover, .form_auth input:active, .form_auth input:focus {
  border: solid 2px #ff6b01;
  outline: none;
}

#register_link:hover,
#login_link:hover {
  color: #ff6b01;
}

.register_nav {
  display: flex;
  align-items: baseline;
  gap: 16px;
}/*# sourceMappingURL=index.css.map */