<div class="menu-container">
  <button id="close_burger_btn" class="menu-toggle">X</button>
  <div class="menu-frame">
    <ul class="mobile-menu">
      <li class="mobile-menu__item">
        <a href="#/" id="home_btn">Home</a>
      </li>
      <li class="mobile-menu__item">
        <a href="#/library" id="library_btn_menu">My Library</a>
      </li>
    </ul>
  </div>
</div>

<!-- <div class="menu-container js-menu-container" id="mobile-menu">
  <button class="menu-toggle js-close-menu">
    <svg class="icon" id="auth_btn" style="width: 20px; height: 20px">
      <use href="./images/icons.svg#icon-exit"></use>
    </svg>
  </button>
  <div class="menu-frame">
    <div class="menu-top">
      <ul class="mobile-menu">
        <li class="mobile-menu__item">
          <a href="./index.html" class="mobile-menu__link">Студия</a>
        </li>
        <li class="mobile-menu__item">
          <a href="./portfolio.html" class="mobile-menu__link">Портфолио</a>
        </li>
        <li class="mobile-menu__item">
          <a href="" class="mobile-menu__link">Контакты</a>
        </li>
      </ul>
    </div>
    <div class="menu-bottom">
      <ul class="mobile-contacts">
        <li class="mobile-contacts__item">
          <a href="tel:+380961111111" class="mobile-contacts__tel"
            >+38 096 111 11 11</a
          >
        </li>
        <li class="mobile-contacts__item">
          <a href="mailto:info@devstudio.com" class="mobile-contacts__mail"
            >info@devstudio.com</a
          >
        </li>
      </ul>
      <ul class="mobile-social-net">
        <li class="mobile-social-net__item">
          <a href="" class="mobile-social-net__link">Instagram</a>
        </li>
        <li class="mobile-social-net__item">
          <a href="" class="mobile-social-net__link">Twitter</a>
        </li>
        <li class="mobile-social-net__item">
          <a href="" class="mobile-social-net__link">Facebook</a>
        </li>
        <li class="mobile-social-net__item">
          <a href="" class="mobile-social-net__link">LinkedIn</a>
        </li>
      </ul>
    </div>
  </div>
</div> -->
