<header class="header section">
  <div class="container">
    <div class="header_nav">
      <a href="#/" class="logo">
        <svg class="icon" style="margin-right: 8px">
          <use href="./images/icons.svg#icon-film"></use></svg
        >Filmoteka</a
      >
      <nav class="navigation">
        <ul class="nav_list">
          <li>
            <a href="#/" id="home_btn" class="nav_item nav_item--current"
              >Home</a
            >
          </li>
          <li>
            <a href="#/library" id="library_btn" class="nav_item popup_link"
              >My Library</a
            >
          </li>
        </ul>
      </nav>
    </div>

    <form class="form" id="header-content">
      <input
        type="text"
        id="search-input"
        name="searchQuery"
        autocomplete="off"
        placeholder="Search films..."
      />
      <button type="submit" class="search-button">
        <svg class="icon">
          <use href="./images/icons.svg#icon-search"></use>
        </svg>
      </button>
    </form>
    <ul class="nav_list_button not-visible">
      <li class="nav_button">
        <button id="watched" type="submit" class="button">Watched</button>
      </li>
      <li class="nav_button">
        <button id="queue" type="submit" class="button">QUEUE</button>
      </li>
    </ul>
  </div>
</header>
