<div id="login" class="modal">
  <div class="modal_body">
    <div class="modal_content">
      <a href="" class="modal_close">X</a>
      <form class="form_auth">
        <input type="text" id="txtEmail" placeholder="Login" />
        <input type="text" id="txtPassword" placeholder="Password" />
        <a href="#/library" id="login_btn" class="button btn_modal_auth">
          Login</a
        >
        <a href="#register" id="register_link">Register</a>
      </form>
    </div>
  </div>
</div>


