<div id="movie" class="modal">
  <div class="modal-body">
    <div class="modal-content">
      <a href="" class="modal-close">X</a>
      <!-- <div class="modal-data"> -->
      <div class="image-wrap"></div>
      <div class="info-wrap">
        <div class="movie-descr"></div>
        <div class="modal-nav">
          <button id="watched" type="submit" class="button btn-modal">
            Add to watched
          </button>
          <button id="queue" type="submit" class="button btn-modal">
            Add to queue
          </button>
        </div>
      </div>
      <!-- </div> -->
    </div>
  </div>
</div>
