<!-- <div class="modal">
  <div class="modal_body">
    <div class="modal_content">
      <a href="" class="modal_close">X</a>
      <div class="modal_data">

          <div class="modal_nav">
          <button id="buttonAdd" type="submit" class="button btn_modal">
            Add to watched
          </button>
          <button type="submit" class="button btn_modal">Add to queue</button>
        </div>
      </div>
    
    </div>
  </div>
</div> -->

<!--  -->
<div class="modal">
  <div class="modal_body">
    <div class="modal_content">
      <a href="" class="modal_close">X</a>
      <div class="modal_data">
        <div class="movie_card"></div>
        <div class="movie_info">
          <div class="movie_descr">
            <!-- <p class="movie_title">${original_title}</p>
            <table class="movie_info">
              <tr class="movie_info_item">
                <td>11</td>
                <td>12</td>
              </tr>
              <tr class="movie_info_item">
                <td>21</td>
                <td>22</td>
              </tr>
              <tr class="movie_info_item">
                <td>31</td>
                <td>32</td>
              </tr>
              <tr class="movie_info_item">
                <td>41</td>
                <td>42</td>
              </tr>
            </table>
            <p>About</p>
            <p>
              Lorem ipsum, dolor sit amet consectetur adipisicing elit.
              Doloribus nostrum inventore sint, consectetur i ncidunt rerum,
              adipisci suscipit fugit at similique sequi explicabo tempora
              provident harum eaque dolorem dignissimos, praesentium architecto!
            </p> -->
          </div>
          <div class="modal_nav">
            <button
              id="buttonAddWatched"
              type="submit"
              class="button btn_modal"
            >
              Add to watched
            </button>
            <button id="buttonAddQueue" type="submit" class="button btn_modal">
              Add to queue
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- <div class="modal"> -->
<!-- <a href="" class="modal_close">X</a> -->
<!-- <div class="modal_body">
    <div class="modal_content"> -->
<!-- <div class="movie_card">
        <img
          src="https://image.tmdb.org/t/p/w500/4Y1WNkd88JXmGfhtWR7dmDAo1T2.jpg"
          alt="movie"
          class="image"
        />
        <div class="movie_descr">
          <p class="movie_title">"Barbie"</p>
          <table class="movie_info">
            <tr class="movie_info_item">
              <td>11</td>
              <td>12</td>
            </tr>
            <tr class="movie_info_item">
              <td>21</td>
              <td>22</td>
            </tr>
            <tr class="movie_info_item">
              <td>31</td>
              <td>32</td>
            </tr>
            <tr class="movie_info_item">
              <td>41</td>
              <td>42</td>
            </tr>
          </table>
          <p>About</p>
          <p>
            Lorem ipsum, dolor sit amet consectetur adipisicing elit. Doloribus
            nostrum inventore sint, consectetur i ncidunt rerum, adipisci
            suscipit fugit at similique sequi explicabo tempora provident harum
            eaque dolorem dignissimos, praesentium architecto!
          </p>
          <button type="submit" class="button">Add to watched</button>
          <button type="submit" class="button">Add to queue</button>
        </div>
      </div> -->
<!-- </div>
  </div> -->
<!-- </div> -->
