<div id="register" class="modal">
  <div class="modal-body">
    <div class="modal-content">
      <a href="" class="modal-close">X</a>
      <form class="form-auth">
        <input type="text" id="regEmail" placeholder="Login" />
        <input type="text" id="regPassword" placeholder="Password" />
        <input type="text" id="regPassword_" placeholder="Password" />
        <a href="#/library" id="register_btn" class="button btn_modal_auth">
          Register</a
        >
        <a href="#login" id="login_link">Login</a>
      </form>
    </div>
  </div>
</div>
