<div id="movie" class="modal">
  <div class="modal_body">
    <div class="modal_content">
      <a href="" class="modal_close">X</a>
      <div class="modal_data">
        <div class="movie_image"></div>
        <div class="movie_info">
          <div class="movie_descr"></div>
          <div class="modal_nav">
            <button id="watched" type="submit" class="button btn_modal">
              Add to watched
            </button>
            <button id="queue" type="submit" class="button btn_modal">
              Add to queue
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
