<div id="login" class="modal">
  <div class="modal-body">
    <div class="modal-content">
      <a href="" class="modal-close">X</a>
      <form class="form-auth">
        <input type="text" id="txtEmail" placeholder="Login" />
        <input type="text" id="txtPassword" placeholder="Password" />
        <a href="#/library" id="login-btn" class="button btn-modal-auth">
          Login</a
        >
        <a href="#register" id="register-link">Register</a>
      </form>
    </div>
  </div>
</div>
