<!-- <ul id="genres"></ul> -->

<!-- <div class="galery__card">
  <a
    class="gallery__link"
    href={{https://image.tmdb.org/t/p/w500${poster_path}}}
  >
    <img
      class="details__img"
      src={{https://image.tmdb.org/t/p/w500${poster_path}}}
    alt={{original_title}}
      width="300px"
      height="450px"
      loading="lazy"
    />
  </a>
</div> -->

<!-- <div class="info">
      <h2 class="info__item">{title} ({releaseYear})</h2>
      <p class="info__item-name">User score: ${userScore}%</p>
      <h3 class="info__item">Overview:</h3>
      <p class="info__item-name">${overview}</p>
      <h3 class="info__item">Genres:</h3>
      ${genresListAll.length > 0 && (
      <ul class="info__item">
        ${genresList}
      </ul>
      )}
    </div> -->
